<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
   <h2>Welcome to our MyTodo web app! Our mission is to help you stay organized and productive by providing a simple and intuitive tool for managing your daily tasks.

    We understand that staying on top of your to-do list can be challenging, whether you're juggling work, school, family, or personal responsibilities. That's why we created this app to help you prioritize your tasks, track your progress, and achieve your goals.
    
    Our team is passionate about building software that empowers people to be more efficient, effective, and focused. We believe that technology should make your life easier, not more complicated, and that's why we've designed this app to be user-friendly and accessible to everyone.
    
    We're constantly working to improve the app and add new features based on feedback from our users. Whether you're a student, a busy professional, or a busy parent, our app is designed to help you get things done and stay on top of your busy schedule.
    
    Thank you for choosing our Todo web app, and we hope you find it helpful in achieving your goals and staying organized!
    
    
    
    </h2> 
    <br>
    <h1>Created By Harsh Srivastava</h1>
    <h1>College- IEM</h1>
    <h1>Course- B.tech</h1>
    <h1>Stream- CSE(IOTCSBT)</h1>
</body>
</html>